.columns {
  margin: 20px 20px 20px 20px;
}

.form-section {
  max-width: 30%;
  margin: 0 auto;
}

.hero-body {
  background-image: url('../images/ruby_art_1.jpg');
  background-size: cover;
}

.hero.is-success .title, .hero.is-success .subtitle {
  color: black;
}

.navbar-link, a.navbar-item {
  color: black;

}
