

<section class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="home">
      <h1 class="title">
        Canvas
      </h1>
      <h2 class="subtitle">
        <%# Adopt your next pet %>
      </h2>
    </div>
  </div>
</section>
