<form action="/pictures" method="post">
    <div>
        <label for="title">Title</label>
        <input type="text" name="title" id="title">
    </div>
    <div>
        <label for="url">Url</label>
        <input type="url" name="url" id="url">
    </div>
    <div>
      <button name="button">Submit</button>
    </div>
</form>
